{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!
{% endblock %}

{% block body %}
	<h1 class="text-center">Mon profil</h1>

	<p>Mon adresse mail :
		{{ user.email }}</p>

    <h2 class="text-center mt-5">Mes commandes</h2>
	<ul class="list-group list-group-flush">
		{% for order in orders %}
			<li class="list-group-item mt-4">
            <p>Commande du {{ order.date|date('d/m/Y') }}</p>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Produit</th>
							<th scope="col">Quantité</th>
							<th scope="col">Prix</th>
						</tr>
					</thead>
					<tbody>
                    {% for product in order.products %}
						<tr>
							<td>{{ product['productName'] }}</td>
							<td>{{ product['quantity'] }}</td>
							<td>{{ product['price'] }}€ ({{ product['price'] /  product['quantity'] }}€ l'unité)</td>
						</tr>
                    {% endfor %}
                        <tr>
                            <td colspan="3">Prix total = {{ order.totalPrice }}€</td>
                        </tr>
					</tbody>
				</table>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
