{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
<h1 class="text-center">Commande</h1>
{% if finishedOrder == '' %}
    <div class="d-flex justify-content-center">
        <div class="row container m-0">
            <table class="table col-6">
                <thead>
                    <tr>
                        <th scope="col">Produit</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix</th>
                    </tr>
                </thead>
                <tbody>
                {% for basket in basketList %}
                    <tr>
                        <td>{{ basket['product'] }}</td>
                        <td>{{ basket['quantity'] }}</td>
                        <td>{{ basket['price'] }}</td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td colspan="3" class="text-end">Prix total : {{ totalPrice }}€</td>
                    </tr>
                </tbody>
            </table>
            {{ form(form)}}
        </div>
    </div>
{% elseif finishedOrder == 'OK' %}
    <div class="alert alert-success" role="alert">
        Paiement accepté
    </div>
{% else %}
    <div class="alert alert-warning" role="alert">
        Paiement refusé
    </div>
{% endif %}
{% endblock %}
